.titlebar-nav{
    background-color: black;
    width: 100%;
    text-align: center;
}

h1{
    color: white;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

.material-icons {
    color: #006eff;
    vertical-align: baseline;
}

